:root {
    --light-orange: #FDBA74;
    --secondary: #E5E7EB;
    --light-green: #D1FAE5;
    --light-red: #FCA5A5;
    --light-yellow: #FDE68A;
    --gray: #6B7280;
    --dark-orange: #EA580C;
    --dark-gray: #4B5563;
    --orange: #FF7518;
    --green: #22C55E;
    --red: #EF4444;
}

/*
Avatars
*/

/* Small Avatar */
.avatar-sm {
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
}

/* Normal/ Medium Avatar */
.avatar-normal {
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
}

/* Large Avatar */
.avatar-lg {
    border-radius: 50%;
    height: 4.5rem;
    width: 4.5rem;
}


.avatar {
    display: inline;
    position: relative;
}

/* Online Avatar */
.avatar-online {
    border-radius: 50%;
    background-color: var(--green);
    height: 0.2rem;
    width: 0.2rem;
    padding: 0.2rem;
    position: absolute;
    right: 0;
    bottom: 0.5rem;
    box-shadow: 0 0 0 0.1rem white;
}

/* Offline Avatar */
.avatar-offline {
    border-radius: 50%;
    background-color: var(--red);
    height: 0.2rem;
    width: 0.2rem;
    padding: 0.2rem;
    position: absolute;
    right: 0;
    bottom: 0.5rem;
    box-shadow: 0 0 0 0.1rem white;
}

/* Avatar for last seen */
.avatar-time {
    background-color: var(--red);
    border-radius: 0.5rem;
    color: white;
    font-size: 0.7rem;
    padding: 0.2rem;
    position: absolute;
    left: 2rem;
    bottom: 0;
    box-shadow: 0 0 0 0.1rem white;
}


/* 
Alerts 
*/

.alert {
    border-radius: 0.2rem;
    padding: 1rem;
}

/* Primary Alert*/
.alert-primary {
    background-color: var(--orange);
}

/* Secondary Alert*/
.alert-secondary {
    background-color: var(--secondary);
}

/* Success Alert*/
.alert-success {
    background-color: var(--light-green);
}

/* Danger Alert*/
.alert-danger {
    background-color: var(--light-red);
}

/* Warning Alert*/
.alert-warning {
    background-color: var(--light-yellow);
}



/*
Badges
*/
.badge {
    border-radius: 0.2rem;
    color: white;
    font-weight: 600;
    margin: 0.1rem;
    padding: 0.2rem;
}

/* Primary badge */
.badge-primary {
    background-color: var(--orange);
}

/* Secondary badge */
.badge-secondary {
    background-color: var(--gray);
}

/* Success Badge */
.badge-success {
    background-color: var(--green);
}

/* Danger Badge */
.badge-danger {
    background-color: var(--red);
}



/*
Buttons 
*/

.btn {
    border: 0;
    border-radius: 0.2rem;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    margin: 0.2rem;
    padding: 0.5rem;
    outline: none;
}

/* Primary Button */
.btn-primary {
    border: 1px solid var(--orange);
    background-color: var(--orange);
}

.btn-primary:hover {
    background-color: var(--dark-orange);
}

/* Secondary button */
.btn-secondary {
    border: 1px solid var(--gray);
    background-color: var(--gray);
}

.btn-secondary:hover {
    background-color: var(--dark-gray);
}

/* Link button */
.btn-link {
    background-color: white;
    border: 0;
    color: var(--orange);
    font-size: 1rem;
    text-decoration: underline;
}

/* Icon button with text */
.btn-icon-text {
    background-color: var(--orange);
}

.btn-icon-in {
    margin: 0 0.5rem;
}

.btn-icon-text:hover {
    background-color: var(--dark-orange);
}

/* Icon button */
.btn-icon {
    background-color: var(--orange);
}

.btn-icon:hover {
    background-color: var(--dark-orange);
}


/* Floating button */
.btn-float {
    border: 0;
    border-radius: 50%;
    background-color: var(--orange);
    font-size: 1rem;
}

.btn-float:hover {
    background-color: var(--dark-orange);
}



/*
Cards
*/

/* General styling for card component */
.card {
    border: 2px solid black;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    position: relative;
    width: 20rem;
}

.card-body {
    padding: 1rem;
}

.card-title {
    margin: 0;
}

.card-text {
    flex-grow: 2;
    line-height: 1.25rem;
}

/* Card with Badge */
.card-badge {
    position: absolute;
    top: 3rem;
    left: 0;
}

/* Card with Dismiss button */
.card-dismiss {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

/* Card with text overlay */
.card-overlay {
    position: absolute;
    top: 0;
}

/* Horizontal Card */
.card-horizontal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 2px solid black;
    border-radius: 0.2rem;
}

.card-horizontal-body {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}



/*
Images
*/

/* Responsive Image */
.img-fluid {
    max-width: 100%;
    height: auto;
}

/* Round image */
.img-round {
    border-radius: 50%;
}



/*
Inputs
*/

.input-styled {
    border: 2px solid #9CA3AF;
    border-radius: 0.2rem;
    font-size: 1.25rem;
    margin: 0.2rem;
    padding: 0.5rem;
    width: 15rem;
}

.input-styled:focus {
    border: 2px solid white;
    border-radius: 0.2rem;
    outline: none;
    box-shadow: 0 0 0 0.2rem var(--orange);
}

/* Error state */
.input-styled-error {
    border: 2px solid var(--red);
}

/* Success state */
.input-styled-success {
    border: 2px solid var(--green);
}

/*
Lists
*/

/* Normal List */
.list-unstyled {
    display: inline-block;
    padding: 0;
}

.list-items {
    list-style-type: none;
    padding: 0.5rem;
}

/* Stacked/Styled List */
.list-styled {
    border: 2px solid var(--gray);
    border-radius: 0.5rem;
    display: inline-block;
    padding: 0.5rem 0;
    margin: 0;
}

.list-styled-items {
    border-bottom: 2px solid var(--gray);
    list-style-type: none;
    padding: 1rem;
}

.list-styled-items:last-child {
    border-bottom: none;
}

/* Alternate stripes styled list */
.list-styled-stripes>.list-styled-items:nth-child(even) {
    background-color: var(--gray);
}

/*
Modal
*/
.modal {
    border: 2px solid var(--gray);
    border-radius: 0.5rem;
    width: 20rem;
}

/* Modal header */
.modal-header {
    border-bottom: 2px solid var(--gray);
    display: flex;
    justify-content: space-between;
    padding: 1rem 0.5rem;
}

.modal-title {
    margin: 0.5rem 0;
}

/* Modal body */
.modal-body {
    padding: 0.5rem;
    border-bottom: 2px solid var(--gray);
}

/* Modal footer */
.modal-footer {
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
}

/*
Grids
*/

/* Grid with 2 columns */
.grid-col-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Grid with 3 colums */
.grid-col-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


/*
Toast
*/
.toast {
    border: 1px solid var(--orange);
    border-radius: 0.5rem;
    background-color: var(--light-orange);
    display: flex;
    justify-content: space-between;
    padding: 0.2rem;
    width: 18rem;
}