@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

body {
    font-family: "Noto Sans", sans-serif;
}

img {
    max-width: 100%;
}

aside {
    grid-area: sidebar;
    position: fixed;
}

main {
    grid-area: mainarea;
    margin-left: 12rem;
}

.main-container {
    display: grid;
    grid-template: "sidebar mainarea mainarea mainarea";
}

.side-item {
    border-radius: 0.2rem;
    color: #374151;
    display: block;
    font-weight: 600;
    margin: 0.5rem;
    text-decoration: none;
    padding: 0.5rem;
    width: 8rem;
}

.side-item:hover {
    background-color: #E5E7EB;
    cursor: pointer;
}

.avatars-container,
.badge-container,
.btn-container,
.images-container,
.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
}

.img-container-one {
    height: auto;
    width: 20rem;
}

.input-container {
    display: flex;
    justify-content: center;
}

.input-inner {
    padding: 2rem;
    border-radius: 0.3rem;
    border: 2px solid black;
    width: 18rem;
}

.grids {
    display: flex;
    flex-direction: column;
}