@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

:root {
    --version-number-color: #374151;
    --side-item: #374151;
    --side-item-hover: #E5E7EB;
    --code-background: #94A3B8;
    --utilities-heading: #FF7518;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans", sans-serif;
    margin: 0;
}

ul > li {
    list-style-type: none;
}


/* Main Navigation Bar Styling */
.version-number {
    color: var(--version-number-color);
}

/* Main container that has both aside and main */

.main-container {
    display: grid;
    grid-template: "sidebar mainarea mainarea mainarea";
    padding: 0.5rem;
}

/* Side nav */
aside {
    grid-area: sidebar;
    position: fixed;
    top: 5rem;
}

.side-item {
    border-radius: 0.2rem;
    color: var(--side-item);
    display: block;
    font-weight: 600;
    text-decoration: none;
    padding: 0.5rem;
    width: 10rem;
}

.side-item:hover {
    background-color: var(--side-item-hover);
    cursor: pointer;
}



/* Main content */
main {
    grid-area: mainarea;
    margin-left: 12rem;
}

.alerts-container {
    display: flex;
    flex-direction: column;
    width: 80%;
}


/* Making every component a flex container */
.avatars-container,
.badge-container,
.btn-container,
.images-container,
.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
}

.img-container-one {
    height: 20rem;
    width: 20rem;
}


/* Styling for making the form around the Inputs */
.input-container {
    display: flex;
    justify-content: center;
}

.input-inner {
    padding: 2rem;
    border-radius: 0.3rem;
    border: 2px solid black;
    width: 20rem;
}

.grids {
    display: flex;
    flex-direction: column;
}


/* Margin around the navigation bars in ONE UI */
.navbar-one {
    margin: 1rem 0;
}


/* Code container */
pre {
    white-space: pre-wrap;
    overflow-x: auto;

}

code {
    background-color: var(--code-background);
    border-radius: 1rem;
    color: white;
    display: inline-block;
    font-size: 1rem;
    padding: 1rem;
    width: 90%;
}

.utilites > h3 {
    color: var(--utilities-heading);
}


/* Media query for phones */
@media only screen and (max-width: 480px) {

    aside {
        display: none;
    }

    main {
        margin: 0;
        padding: 0;
        width: 80%;
    }

}